.profile__info {
  margin-left: 30px;
  align-items: center;
}

@media screen and (max-width: 720px) {
  .profile__info {
    margin-left: 10px;
    margin-top: 14px;
    align-items: center;
  }
}

@media screen and (max-width: 640px) {
  .profile__info {
    margin-left: 0;
  }
}

@media screen and (max-width: 425px) {
  .profile__info {
    margin-left: 0;
  }
}